<ng-container [formGroup]="myForm">
  <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
<div *ngIf="object != undefined">
        <table style="width:100%;text-align: end;" aria-label="auto upsert table">
          <ng-container [formGroup]="myForm">
            <tr *ngFor="let property of objectProperties" >
                    <th *ngIf="tipe(object[property]) == 'array'"><mat-form-field appearance="fill">
                        <mat-label>{{property | titlecase}}</mat-label>
                        <mat-select [formControlName]="property" multiple>
                          <mat-option *ngFor="let option of listOfType(object[property])" [value]="option">{{option}}</mat-option>
                        </mat-select>
                      </mat-form-field></th>
                    <th *ngIf="tipe(object[property]) != 'array' && property != 'id'">  <mat-form-field appearance="fill">
                        <mat-label>{{property  | titlecase}}</mat-label>
                        <input [formControlName]="property" matInput>
                      </mat-form-field></th>
                
            </tr>
            <button mat-fab color="primary" aria-label="Save Button">
              <mat-icon>save</mat-icon>
            </button>
          </ng-container>
        </table>
</div>
<div *ngIf="object == undefined">
    <div>Un problème est survenu durant le chargement des données</div>
</div>