@import '../../../../variables.scss';

.border-right {
    border-right: 0.1em solid $third-color;
    height: 100%;
}
.button-color{
    background-color: $third-color;
    color: $secondary-color;
    font-weight: bold;
}
.tabled{
    background-color: white; border-radius: 1em; height: 100%; color: $third-color; min-width: 20em; text-align: center; margin-bottom: 10px;
}
.icon {
    position: relative;
    display: block;
    min-width: 2em;
    height: 2em;
    line-height: 2.5em;
    text-align: center;

    em {
        font-size: 1.5em;
    }
}
