<div *ngIf="objectList != undefined">
<div *ngFor="let object of objectList" class="tabled">
    <table style="width:100%"> <tr>
     <th *ngFor="let property of propertyOfObject(object)"  class="border-right"> 
        <div *ngIf="tipe(object[property]) === 'array'">{{property | titlecase}}: {{object[property].length}}<span (click)="listModal(object[property])" class="icon"><em class="fa-solid fa-list"></em></span></div>
        <div *ngIf="tipe(object[property]) != 'array' && property != 'id'"> {{object[property]}}</div>
     </th>
     <th> <table><tr><th><span (click)="edit(object)" class="icon"><em class="fa-solid fa-pen-to-square"></em></span></th><th><span (click)="edit(object)" class="icon"><em class="fa-solid fa-trash"></em></span></th></tr></table></th></tr></table></div>
</div>

<!-- <div *ngIf="objectList != undefined">
<div *ngFor="let object of objectList" class="tabled">
    <table style="width:100%"> <tr>
     <th *ngFor="let property of objectProperties"  class="border-right"> 
        <div *ngIf="tipe(object[property]) === 'array'">{{property | titlecase}}: {{object[property].length}}<span (click)="listModal(object[property])" class="icon"><em class="fa-solid fa-list"></em></span></div>
        <div *ngIf="tipe(object[property]) != 'array' && property != 'id'"> {{object[property]}}</div>
     </th>
     <th> <table><tr><th><span (click)="edit(object)" class="icon"><em class="fa-solid fa-pen-to-square"></em></span></th><th><span (click)="edit(object)" class="icon"><em class="fa-solid fa-trash"></em></span></th></tr></table></th></tr></table></div>
</div> -->