<div class="container">
    <div class="navigationList" [ngClass]="{'active': drawerOpen}">
        <ul>
            <li class="navigationElement">
                <a [routerLink]="['/dashboard']">
                    <span class="icon"><em class="fa-solid fa-chart-pie"></em></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="navigationElement">
                <a [routerLink]="['/questions']">
                    <span class="icon"><em class="far fa-question-circle"></em></span>
                    <span class="title">Questions</span>
                </a>
            </li>
            <li class="navigationElement">
                <a>
                    <span class="icon"><em class="fas fa-tags"></em></span>
                    <span class="title">Tags</span>
                </a>
            </li>
            <li class="navigationElement">
                <a>
                    <span class="icon"><em class="fas fa-cog"></em></span>
                    <span class="title">Settings</span>
                </a>
            </li>
            <li class="navigationElement">
                <a>
                    <span class="icon"><em class="far fa-address-card"></em></span>
                    <span class="title">Profile</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="toggle" [ngClass]="{'active': drawerOpen}" (click)="drawerOpen = !drawerOpen">
    </div>
</div>
