@import '../../../../variables.scss';



.container{
    height: 100vh;
    
    .navigationList{  
        position: absolute;
        left: 0;    
        background-color: white;
        border-radius: 0 10px 10px 0;
        width: $drawer-max-size;
        height: 100vh;
        overflow: hidden;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        transition: 0.5s;
        
        &.active {
            width: 5em;
        }

        ul {
            position: absolute;
            top: 0;
            left: 0;
            width: 20em;
            padding-left: 0;

            li {
                position: relative;
                list-style: none;
                
                a {
                    position: relative;
                    display: block;
                    width: 100%;
                    display: flex;
                    text-decoration: none;
                    color: $primary-color;
                    font-weight: 500;

                    .icon {
                        position: relative;
                        display: block;
                        min-width: 5em;
                        height: 4em;
                        line-height: 4em;
                        text-align: center;

                        i {
                            font-size: 1.5em;
                        }
                    }

                    .title {
                        position: relative;
                        display: block;
                        height: 60px;
                        line-height: 60px;
                        white-space: nowrap;
                    }
                }

                :hover {
                    background: #efefef;
                    cursor: pointer;
                }
            }
        }
    }
}

.toggle {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
    left : calc($drawer-max-size - 20px);
    top: calc(50% - 20px);
    border: 5px solid $primary-color;
    border-radius: 50%;
    transition: 0.5s;

    &:before {
        
        content: '\f053';
        font-family: fontAwesome;
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 30px; 
        color: $primary-color;
    }
    
    &.active {
        left : calc($drawer-min-size - 20px);
    }

    &.active::before{
        content: '\f054';
    }
}