// Scss basis
@import '../variables.scss';

.nav{
    float: left;
}

.container{
    overflow-y: auto;
    overflow-x: hidden;
    width: calc(100vw - $drawer-min-size - $drawer-spacement);
    margin-left: calc($drawer-min-size + $drawer-spacement);
    transition: 0.5s;

    &.active{
        width: calc(100vw - $drawer-max-size - $drawer-spacement);
        margin-left: calc($drawer-max-size + $drawer-spacement);
    }
}