// Scss basis
@import '../variables.scss';

$spacementDrawer: 1em;
.nav{
    float: left;
}

.container{
    width: calc(100vw - $drawer-min-size - $spacementDrawer);
    margin-left: calc($drawer-min-size + $spacementDrawer);
    transition: 0.5s;

    &.active{
        width: calc(100vw - $drawer-max-size - $spacementDrawer);
        margin-left: calc($drawer-max-size + $spacementDrawer);
    }
}