<div class="tabled"><table aria-label="table not used" style="width:100%">
    <tr>
      <th id="name" class="border-right">{{speaker.name}}</th>
      <th id="status" class="border-right">{{speaker.status}}</th>
      <th id="taglist" class="border-right"> <tr><th id="tagName" *ngFor="let tag of speaker.tagList" class="tags">{{tag.libelle}}</th></tr></th>
      <th id="button" > <table aria-label="button table"><tr><th><span (click)="edit()" class="icon"><em class="fa-solid fa-pen-to-square"></em></span></th><th><span (click)="delete()" class="icon"><em class="fa-solid fa-trash"></em></span></th></tr></table></th>
    </tr>
</table></div>