<div class="tabled"><table style="width:100%">
    <tr>
      <th class="border-right">{{speaker.name}}</th>
      <th class="border-right">{{speaker.status}}</th>
      <th class="border-right"> <tr><th *ngFor="let tag of speaker.tagList" class="tags">{{tag.libelle}}</th></tr></th>
      <th > <table><tr><th><span (click)="edit()" class="icon"><em class="fa-solid fa-pen-to-square"></em></span></th><th><span (click)="delete()" class="icon"><em class="fa-solid fa-trash"></em></span></th></tr></table></th>
    </tr>
</table></div>